
    <div class="container-fuild">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            {% if name %}
            <h1 class="navbar-brand">Hello {{ name }} !</h1>
            {% else %}
            <h1 class="navbar-brand">Hello, World !</h1>
            {% endif %}

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/messages">Messages</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>