<h1>WaZZZaaaaAAAAA</h1>

<div>
    <form  action="/api/messages/save" method="post">
        <div>
            <input type="text" id="message" name="message" class="form-control" placeholder="Rentrer votre tache ici"
                required autofocus>
        </div>
        <div>
            <button type="submit">Soumettre</button>
        </div>
    </form>
</div>