{% if messages %}

{% for message in messages %}
{# <article> #}
  <ul>
      <li>
        {{message.text}} 
      </li>
  </ul>  {{message.text}} 
    
    {# <form action="/api/messages/delete" method="post">
        <input type="hidden" name="id" value="{{message._id}}">
        <button class="btn btn-sm btn-danger float-right" type="submit">suppr</button>
    </form>
    
    <form action="/api/messages/done" method="post" onclick="this.submit()">
        <div class="custom-control custom-switch float-right">
            <input type="hidden" name="id" value="{{message._id}}">
            <input type="checkbox" name="done"
                {% if message.done %} checked="" {% endif %} 
                class="custom-control-input" 
                id="switch{{message._id}}">
            <label class="custom-control-label" for="switch{{message._id}}">Done</label>
        &nbsp;
        </div>
    </form>

</article> #}
{% endfor %}

{% else %}

<p class="text-center">
  On doit retrouver les données ici !
</p>

{% endif %}