<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{{ titre }}</title>
    </head>

    <body>
        <h1>{{ result.name }}</h1>
        <ul>
        {# {% for mot in mots %}
            <li>{{ mot }}</li>
        {% endfor %} #}
        </ul>
    </body>
</html>
